<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">My little to do app!</h1>
    
    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">
  
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem" ng-keypress="$event.keyCode == 13 ? addItem() : false">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default" type="button" ng-click="clearCompleted()">
              Clear Completed Items
              <span class="glyphicon" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->
        
      <h2>stuff i gotta do asap</h2>
      
      <ul class="list-group">
        <!-- http://www.w3schools.com/css/css_float.asp -->
        <button class="btn btn-success" type="button" ng-init="count=2">
          Total Tasks: {{count}}
        </button>
        <li class="list-group-item clearfix" ng-repeat="do in todos">
          
          <div ng-hide="editorEnabled" class="inline">
            <span>{{do}}</span>
            <a href="#" ng-click="editorEnabled=!editorEnabled">Edit</a>
          </div>
          <div ng-show="editorEnabled" class="inline">
            <input ng-model="do">
            <a href="#" ng-click="editorEnabled=!editorEnabled">Done</a>
          </div>    
          
          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem(do)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>  

          <input class="pull-left" type="checkbox" data-toggle="toggle" ng-click="completeItem(do)">

        </li>
      </ul>
    </div>
    
  </body>

</html>